<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592359907391-00abgdkd9vhhtem3pl0b0ohr3oegdm72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592359907391-00abgdkd9vhhtem3pl0b0ohr3oegdm72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>592359907391-esbod2al3gnmh4ncp1v388esrjta4704.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCWgS7bHItZ_riloBHHXQBBG2E2cY6plg</string>
	<key>GCM_SENDER_ID</key>
	<string>592359907391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.elearning.app</string>
	<key>PROJECT_ID</key>
	<string>e-learning-dbc62</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learning-dbc62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592359907391:ios:f85a86f14ea3e90f6a188a</string>
	<key>DATABASE_URL</key>
	<string>https://e-learning-dbc62-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>